@model Focus.Business.EmailCompose
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        NOBLEPOS-ERP
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        
        .pagebreak {
            page-break-before: always;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        @Html.Raw(Model.EmailPath)
    </div>
</body>
</html>





